<% title "Unit Memberships" %>

<table>
  <tr>
    <th>Unit</th>
    <th>Person</th>
    <th>Role</th>
    <th>Active</th>
  </tr>
  <% for unit_membership in @unit_memberships %>
    <tr>
      <td><%= unit_membership.unit_id %></td>
      <td><%= unit_membership.person_id %></td>
      <td><%= unit_membership.role %></td>
      <td><%= unit_membership.active %></td>
      <td><%= link_to "Show", unit_membership %></td>
      <td><%= link_to "Edit", edit_unit_membership_path(unit_membership) %></td>
      <td><%= link_to "Destroy", unit_membership, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Unit Membership", new_unit_membership_path %></p>
