<% form_for @group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :unit_id %><br />
    <%= f.text_field :unit_id %>
  </p>
  <p>
    <%= f.label :group_type %><br />
    <%= f.text_field :group_type %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
